<div class="p-5" id="aboutme">
    <div class="container pt-5">
        <div class="row align-items-center justify-content-between">
            <div class="col-md">
                <img src="https://media.istockphoto.com/photos/freelancer-guy-using-desktop-computer-coding-working-online-at-night-picture-id1211948653?k=20&m=1211948653&s=170667a&w=0&h=DF0HUFbU4eJ8eLry4ZZBAWX2rFdCc6dX5w_Qh42UYos=" alt="" class="img-fluid">
            </div>
            <div class="col-md p-5">
                <h2>About Me</h2>
                <p class="lead">Skilled at writing well-designed, testable and efficient code using current best practices in Application/Web Development.</p>
                <p>A Computer Science graduate from University of Delhi. </p>
                <a href="assets\resume\MyResume.pdf" download="mayankPadhmaResume" target="_blank" class="btn btn-primary mt-3">Download CV</a>
            </div>
        </div>
    </div>
</div>