<body class="p-5" id="projects">
    <div class="container py-5">
        <div class="row text-center g-4">
            <div class="col-md">
                <div class="card bg-dark text-light p-5">
                    <img src="https://library.kissclipart.com/20181007/rpe/kissclipart-inotes-for-android-clipart-notes-app-store-android-01de3c24f72b902f.png" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Notes App</h5>
                      <p class="card-text">Android App that lets your store notes.</p>
                      <a href="https://github.com/mayank-padhma/NotesApp" target="_blank" class="btn btn-primary">Github Link</a>
                    </div>
                  </div>
            </div>
            <div class="col-md">
                <div class="card bg-primary text-light p-5">
                    <img src="https://pngimg.com/uploads/github/github_PNG83.png" class="card-img-top img-fluid">
                    <div class="card-body">
                      <h5 class="card-title">Github Browser</h5>
                      <p class="card-text">Android App that helps to keep a track of your repositories.
                    </p>
                      <a href="https://github.com/mayank-padhma/GithubBrowser" target="_blank" class="btn btn-dark text-light">Github Link</a>
                    </div>
                  </div>
            </div>
            <div class="col-md">
                <div class="card bg-dark text-light p-5">
                    <img src="https://www.gstatic.com/devrel-devsite/prod/v3e5e49c86560fa1d4115a3867ece7b214786f7f53a4ea5df16ed22c32fc83928/firebase/images/touchicon-180.png" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Firebase Authentication</h5>
                      <p class="card-text">Android App showing firebase auth using realtime database.</p>
                      <a href="https://github.com/mayank-padhma/FRDA" target="_blank" class="btn btn-primary">Github Link</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</body>
