<body class="p-5 bg-dark" id="skills">
    <div class="container py-5">  
        <div class="d-flex mb-3">
            <h2 class="text-light me-3">Programming Languages</h2> 
            <button class="btn btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#row1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z"/>
                      </svg>
            </button>
        </div> 
        <div class="row collapse navbar-collapse" id="row1">
            <div class="card mb-3 me-3 col-md">
                <div class="card-body">
                        <p class="card-title">
                            JAVA
                        </p>
                        <p class="lead card-subtitile">
                            Expert
                        </p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%"></div>
                        </div>
                </div>
            </div>
            <div class="card mb-3 me-3 col-md">
                <div class="card-body">
                        <p class="card-title">
                            C++
                        </p>
                        <p class="lead card-subtitile">
                            Expert
                        </p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%"></div>
                        </div>
                </div>
            </div>
            <div class="card mb-3 me-3  col-md">
                <div class="card-body">
                        <p class="card-title">
                            Typescript
                        </p>
                        <p class="lead card-subtitile">
                            Expert
                        </p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%"></div>
                          </div>
                </div>
            </div>
            <div class="card mb-3 me-3  col-md">
                <div class="card-body">
                        <p class="card-title">
                            XML
                        </p>
                        <p class="lead card-subtitile">
                            Expert
                        </p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%"></div>
                          </div>
                </div>
            </div>               
        </div>
        <hr style="color: aliceblue;">
        <div class="d-flex mb-3">
                <h2 class="text-light me-3">Databases</h2> 
                <button class="btn btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#row2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z"/>
                      </svg>
                </button>
        </div>
        <div class="row collapse" id="row2">
            <div class="card mb-3 me-3  col-md">
                <div class="card-body">
                        <p class="card-title">
                            MySQL
                        </p>
                        <p class="lead card-subtitile">
                            Expert
                        </p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%"></div>
                          </div>
                </div>
            </div>
            <div class="card mb-3 me-3  col-md">
                <div class="card-body">
                        <p class="card-title">
                            NoSql
                        </p>
                        <p class="lead card-subtitile">
                            Expert
                        </p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%"></div>
                          </div>
                </div>
            </div>
        </div>
        <hr style="color: aliceblue;">
        <div class="d-flex mb-3">
                <h2 class="text-light me-3">Frameworks</h2>
                <button class="btn btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#row3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z"/>
                      </svg>
                </button>
        </div>
        <div class="row collapse" id="row3">
            <div class="card mb-3 me-3  col-md">
                <div class="card-body">
                            <p class="card-title">
                                Angular
                            </p>
                            <p class="lead card-subtitile">
                                Expert
                            </p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 100%"></div>
                            </div>
                </div>
            </div>
                <div class="card mb-3 me-3  col-md">
                    <div class="card-body">
                        <p class="card-title">
                            Spring Boot
                        </p>
                        <p class="lead card-subtitile">
                            Expert
                        </p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%"></div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 me-3  col-md">
                    <div class="card-body">
                        <p class="card-title">
                            Spring JPA
                        </p>
                        <p class="lead card-subtitile">
                            Expert
                        </p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%"></div>
                          </div>
                        </div>
                    </div>
                </div> 
                <hr style="color: aliceblue;">
                <div class="d-flex mb-3">
                    <h2 class="text-light me-3">Tools</h2> 
                    <button class="btn btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#row4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z"/>
                      </svg>
                    </button>
                </div>
                <div class="row collapse" id="row4">

                    <div class="card mb-3 me-3  col-md">
                        <div class="card-body">
                            <p class="card-title">
                                Android Studio
                            </p>
                            <p class="lead card-subtitile">
                                Expert
                            </p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 100%"></div>
                            </div>
                    </div>
                </div>
                <div class="card mb-3 me-3  col-md">
                    <div class="card-body">
                        <p class="card-title">
                            Firebase
                        </p>
                        <p class="lead card-subtitile">
                            Expert
                        </p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%"></div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 me-3  col-md">
                    <div class="card-body">
                        <p class="card-title">
                            Visual Studio Code
                        </p>
                        <p class="lead card-subtitile">
                            Expert
                        </p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%"></div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 me-3  col-md">
                    <div class="card-body">
                        <p class="card-title">
                            Spring Tool Suite
                        </p>
                        <p class="lead card-subtitile">
                            Expert
                        </p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%"></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="color: aliceblue;">
            <div class="d-flex mb-3">

                <h2 class="text-light me-3">Others</h2> 
                <button class="btn btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#row5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z"/>
                      </svg>
                </button>
            </div>
                <div class="row collapse" id="row5">
                    <div class="card mb-3 me-3  col-md" >
                        <div class="card-body">
                            <p class="card-title">
                                Data Structure and Algorithms
                            </p>
                            <p class="lead card-subtitile">
                                Expert
                            </p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 100%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3 me-3  col-md">
                        <div class="card-body">
                            <p class="card-title">
                                Object-oriented Programming
                            </p>
                            <p class="lead card-subtitile">
                                Expert
                            </p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 100%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3 me-3  col-md">
                        <div class="card-body">
                            <p class="card-title">
                                Operating Systems
                            </p>
                            <p class="lead card-subtitile">
                                Expert
                            </p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 100%"></div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</body>
