<div class="banner1">
    <img src="">
    <div class="text-box text-box1">
        <h1>Fuck Yes Daddyyy</h1>
        <span></span>
        <p>fuck me fuck me fuck me</p>
    </div>
</div>
<div class="banner2">
    <img src="">
    <div class="text-box text-box2">
        <h1>Fuck Yes Daddyyy</h1>
        <span></span>
        <p>fuck me fuck me fuck me</p>
    </div>
</div>
<div class="banner3">
    <img src="">
    <div class="text-box text-box3">
        <h1>Fuck Yes Daddyyy</h1>
        <span></span>
        <p>fuck me fuck me fuck me</p>
    </div>
</div>
<div class="banner4">
    <img src="">
    <div class="text-box text-box4">
        <h1>Fuck Yes Daddyyy</h1>
        <span></span>
        <p>fuck me fuck me fuck me</p>
    </div>
</div>