<body class="bg-dark text-light p-5 text-start p-lg-0 pt-lg-3">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1>I am a 
                    <span class="text-warning">Software Engineer</span>
                </h1>
                <p class="lead">
                    Skilled at writing well-designed, testable and efficient code using current best practices in Application/Web Development. 
                </p>
            </div>
            <img class="img-fluid w-50 d-sm-block d-none" src="https://ouch-cdn2.icons8.com/_2uDJ10-ae2PpZyzobx2YJpqI5v-4c7IOzqWa9paqMQ/rs:fit:1368:912/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvMzAx/L2Y1ZWI5ZGEwLTM3/ZWMtNDUxYy1iODNl/LTVjMzc1NGU5NjQx/NC5zdmc.png">
        </div>
    </div>
</body>